@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 64px 48px;
    overflow: hidden;

}

.container{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
max-width: 1400px;
align-items: center;
column-gap: 32px;
row-gap: 64px;
}

.cards{
display: flex;
flex-direction: column;
align-items: center;
width: 372px;
height: 354px;
}

.cards img{
width: 100%;
height: auto;
}

.container h3{
color: #000;
font-family: Inter, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 24px */
margin-top: 20px;
text-align: center;
}

.container p{
color: #3C3C43;
font-family: Inter, sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 15.6px */
letter-spacing: 1.5px;
text-transform: uppercase;
margin-top: 15px;
}
